<img src="logo.jpeg" class="logo">
                <h4 class="heading">We see our customers as invited guests to the party, and we are the hosts.<br>
                    it's our job everyday to make every important aspect to the customer experience a little bit better!.</h4>
<section id="about">
    <h2>About</h2>

    <div class="banner">
        <div class="banner_content">
            <img src="./photos/moloto.jpeg" alt="image4" style="width: 30%;">
             <h3>Moloto Malema</h3>     
             <h1>Software developer</h1>
                  <div class="desc">It takes monumental improvement for us to change how we see technology</div>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+27768761826&text=Hi @eMD Agency%21%20I have Questions%20in%20Regard with %20 
your services%C3%f1%20" class="float" target="_blank">
<i class="fa fa-whatsapp my-float" id="whatsapp"></i>
</a>
        </div>

        <div class="banner_content">
            <img src="./photos/maano1.jpg" alt="image3" style="width: 50%;">
            <h3>Matshinyatsimbi Maano</h3>
            <h1>Software developer</h1>
            <div class="desc">It takes monumental improvement for us to change how we see technology</div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+27827967641&text=Hi @eMD Agency%21%20I have Questions%20in%20Regard with %20 
your services%C3%f1%20" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"id="whatsapp"></i>
</a>
        </div>

        <div class="banner_content">
            <img src="./photos/mashudu.jpeg" alt="image2" style="width: 40%;">
            <h3>Mashudu Selepe</h3>
            <h1>Software developer</h1>
            <div class="desc">It takes monumental improvement for us to change how we see technology</div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
<a href="https://api.whatsapp.com/send?phone=+27718134370&text=Hi @eMD Agency%21%20I have Questions%20in%20Regard with %20 
your services%C3%f1%20" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"id="whatsapp"></i>
</a>
        </div>

        <div class="banner_content">
            <img src="./photos/mokgadi.jpeg" alt="image1" style="width: 40%;">
            <h3>Mokgadi Ngoasheng</h3>
            <h1>Software developer</h1>
            <div class="desc">It takes monumental improvement for us to change how we see technology</div>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+27727390380&text=Hi @eMD Agency%21%20I have Questions%20in%20Regard with %20 
your services%C3%f1%20" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"id="whatsapp"></i>
</a>
        </div>
    </div> 
    
    <p>at eMD technologies, we utilise technology to bring results to grow our clients businesses.</p>

    <footer>
        <p>created by eMD technologies, right to admission reserved,2020</p>
    </footer>
</section>
