<img src="logo.jpeg"> 
<h3 class="first-para">We see our customers as invited guests to the party, and we are the hosts.<br>it's our job everyday to make every important aspect to the customer experience a little bit better!.</h3>
<!--<div class="main">-->
<div class="message">
<div class="form">
   <div class="responvise">
    <input type="text" placeholder="First-name" style="border-radius: 10px;" id="First-name" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" placeholder="Surname"style="border-radius: 10px;" id="Surname"><br><br>
    <input type="text" placeholder="Email address"style="border-radius: 10px;"id="Email-address"><br><br>
    <div class=contact-info>
        
        <h3>Contact Info</h3>
        <ul class="contact">
            
            <li ><span >Address:</span>
                  <span>10 Bicard Street, Polokwane, South Africa</span></li>
                <li ><span >Phone:</span><span>+27 87 4942 290</span></li>
                <li ><span >Email:</span><span>info@emdtechnologies.com</span></li>
    
            </ul>
     </div> 
    <textarea name="" id="textarea" class="form-control" placeholder="Write your message." cols="80" rows="30"style="border-radius: 10px;"></textarea><br><br>
    <input type="submit"  value="Send Message" id="button">
   
</div>
  
</div>

</div>

<footer class="footer"  >
    <div  class="banner">
        <ul class="list">
      <li>  <div class="part1">
        <h2>About Group~1</h2>
       <p> As future leaders we have been driven to<br> "Create a Vision, articulate the vision,<br> 
        passionately own the vission and relentlessly drive it to completion".</p>
      </div></li> 
      <li><div class="part2">
        <h2>Quick-Links</h2>
        <ul class="Quick Links" >
            <li><a href="about.html">About Us</a></li><br>
            <li><a href="index.html">Home</a></li>
          </ul>

          </div>
          </li>
          <li><div class="part3">
            <h2>Connect</h2>
            
            <a href="https://www.facebook.com" > <i class="fab fa-facebook-square"></i></a>
          <a href="https://api.whatsapp.com/send?phone=+27827967641&text=Hi @eMD Agency%21%20I have Questions%20in%20Regard with %20 
          your services%C3%f1%20" class="float" target="_blank">
          <i class="fab fa-2x fa-whatsapp"></i>
          </a>
           <a href="https://twitter.com" > <i class="fab fa-2x fa-twitter"></i></a>
               
          </div>
        </li>
    </ul>
    <p class="text">Copyright © 2020 eMD Web Design Agency | Powered by visual-studio</p>
     </div>
